<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Player Head to Head</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="/javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/playerh2h.css" rel="stylesheet">
  </head>

  <body ng-controller="playerh2hController">
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand center" href="/"><img src="/assets/bballicon.png" height="32" width="32"></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link active" href="/playerh2h">Player H2H</a>
          </li>
          <li>
              <a class="nav-link" href="/teamh2h">Team H2H</a>
          </li>
          <li>
              <a class="nav-link" href="/projection">Player Projection</a>
          </li>
          <li>
              <a class="nav-link" href="/college">College Facts</a>
          </li>
          <li>
            <a class="nav-link" href="/news">NBA News</a>
          </li>

        </ul>
      </div>
    </nav>

    <br>

    <div class="title">
        <h3> Player Head2Head </h3>
        <h5> See which one of your favorite NBA players is better!</h4>
    </div>

    <div class="container p2p-container">
      <div class="jumbotron">
        <div class="input-container">
          <div class="row">
            <div class="col" align="center">
                <input type="text" ng-model="player1Name" placeholder="Player 1" id="player1Name" class="player-input"/>
                <!-- insert profile pics -->
              </div>
            <div class="col" align="center">
                <input type="text" ng-model="player2Name" placeholder="Player 2" id="player2Name" class="player-input"/>
            </div>
          </div>
          <button id="submitPlayerbtn" class="submit-btn" ng-click="submitPlayers()">Submit</button>
        </div>
        <div class="games-container">
          <div class="row" ng-if="playerStats !== 'no players'">
              <div class="col" id="results" ng-repeat="player in playerStats">
                <img ng-src="{{player.imageLink}}" height="100" onerror="this.src='https://nba-players.herokuapp.com/players/Ball/Lonzo'">
                <br>
                <br>
                <p style="font-size: 18px;"><strong>{{player.name}}</strong></p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Wins</th>
                      <th scope="col">Losses</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"># Games</th>
                      <td>{{player.results.W}}</td>
                      <td>{{player.results.L}}</td>
                    </tr>
                    <tr>
                      <th scope="row">PPG</th>
                      <td>{{player.pts.W.toFixed(1)}}</td>
                      <td>{{player.pts.L.toFixed(1)}}</td>
                    </tr>
                    <tr>
                      <th scope="row">RPG</th>
                      <td>{{player.trb.W.toFixed(1)}}</td>
                      <td>{{player.trb.L.toFixed(1)}}</td>
                    </tr>
                    <tr>
                      <th scope="row">APG</th>
                      <td>{{player.ast.W.toFixed(1)}}</td>
                      <td>{{player.ast.L.toFixed(1)}}</td>
                    </tr>
                  </tbody>
                  </table>
              </div>
          </div>
          <p ng-if="playerStats === 'no players'">
            Sorry these players never played against each other
          </p>
        </div>
      </div>
    </div>

    <script>
      function checkFill() {

        var player1 = document.getElementById(player1Name).value;
        var player2 = document.getElementById(player2Name).value;
        var submitButton = document.getElementById(submitPlayerbtn);

        submitButton.disabled = true;

        if (player1.length > 0 && player2.length > 0) {
          submitButton.disabled = false;
        }
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
