<!DOCTYPE html>
<html lang="en" ng-app="angularjsNodejsTutorial">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Team Head to Head</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="javascripts/app.js" type="text/javascript"></script>
    <!-- Custom styles for this template-->
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/teamh2h.css" rel="stylesheet">
  </head>

  <body ng-controller="teamh2hController">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand center" href="/">Basketball App</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/playerh2h">Player H2H</a>
          </li>
          <li>
              <a class="nav-link" href="/teamh2h">Team H2H</a>
          </li>
          <li>
              <a class="nav-link" href="/projection">Player Projection</a>
          </li>
          <li>
              <a class="nav-link" href="/college">College Facts</a>
          </li>
          <li>
            <a class="nav-link" href="/news">NBA News</a>
          </li>

        </ul>
        <img src="/assets/bballicon.png" height="32" width="32">
      </div>
    </nav>

    <div class="title">
      <h3> Team Head2Head </h3>
      <h5> See which one of your favorite NBA teams is better!</h4>
    </div>

    <div class="container recommendations-container">
      <div class="jumbotron">
        <div class="input-container">
          <div class="row">
              <div class="col" align="center">
                  <select ng-model="team1Name" ng-options="x for x in teams" id="team1Name" class="game-input"></select>
              </div>
              <div class="col" align="center">
                  <select ng-model="team2Name" ng-options="x for x in teams" id="team2Name" class="game-input"></select>
              </div>
          </div>
          <button id="submitGameBtn" class="submit-btn" ng-click="submitTeams()">Submit</button>
        </div>
        <div class="games-container">
          <div class="h6">Head to head record</div>
          <div class="row">
            <div class="col" id="results" align="center">
              <img ng-if="team1Name"  ng-model="team1Name" src="../assets/team-logos/{{team1Name}}.gif">
              </img>
              <div class="header"><strong>Conference</strong> {{teamRecord.team1.Conference}}</div>
              <div class="header"><strong>Wins: </strong> {{teamRecord.team1.W}}</div>
            </div>
            <div class="col" id="results" align="center">
                <img ng-if="team2Name"  ng-model="team2Name" src="../assets/team-logos/{{team2Name}}.gif">
                </img>
                <div class="header"><strong>Conference</strong> {{teamRecord.team2.Conference}}</div>
                <div class="header"><strong>Wins: </strong> {{teamRecord.team2.W}}</div>
              </div>
          </div>
        </div>
        <p ng-if="(team1Name && team2Name) && (team1Name === team2Name)">
            Please select two different teams!
        </p>
        <hr>
        <div class="games-container">
          <div class="h6">Best performing players in matchup</div>
          <div class="game">
            <div class="playerResult"><strong>Player Name</strong></div>
            <div class="playerResult"><strong>Team</strong></div>
            <div class="playerResult"><strong>Plus/Minus</strong></div>
          </div>
          <div class="game" id="results" ng-repeat="player in playerPerformance">
            <div class="playerResult">{{player.Player_Name}}</div>
            <div class="playerResult">{{player.TeamName}}</div>
            <div class="playerResult">+{{player.PlusMinus.toFixed(1)}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Include these before the end of body tag in every HTML file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
