
.title {
  align-items: center;
  color: white;
  padding: 2em;
  text-align: center;
}


.p2p-container {
  margin-top: 2rem;
}

.input-container {
  text-align: center;
}
.input-container .player-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.input-container .submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: orange;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.input-container .submit-btn:hover {
  background: darkorange;
}

.games-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 10px;
  text-align: center;
}


.games-container .game {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}

.game .header, .game .title, .game .id, .game .rating, .game .vote-count {
  flex: 1 0 16%;
}
