recommendations-container {
    margin-top: 2rem;
  }

  .title {
    align-items: center;
    color: white;
    padding: 2em;
    text-align: center;
  }

  .input-container {
    text-align: center;
  }

  .input-container .player-input {
    margin: 10px auto;
    width: 250px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    display: block;
  }

  .input-container .submit-btn {
    margin-left: 10px;
    width: 100px;
    height: 36px;
    border: none;
    padding: 2px 16px;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    background:orange;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }

  .input-container .submit-btn:hover {
    background: darkorange;
  }

  .players-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
  }

  .players-container .player {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
    padding: 0 10px;
  }

  .player .header, .player .title, .player .id, .player .rating, .player .vote-count {
    flex: 1 0 25%;
  }
